on: [push]

jobs:
  test:
    name: Test risset in ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest]
        python-version: ["3.10"]
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: macos - install csound
        if: runner.os == 'macos'
        run: |
          curl -L -o csound6.18.dmg https://github.com/csound/csound/releases/download/6.18.1/Csound-MacOS-universal-6.18.1.dmg
          brew install p7zip
          7z x csound6.18.dmg
          cd Csound-universal-6.18.1
          sudo installer -pkg csound-MacOS-universal-6.18.1.pkg -target /
          csound --version
          cd ..

      - name: macos - test install from git
        if: runner.os == 'macos'
        run: |
          pip install .
          risset update
          risset list
          risset install klib
          echo "-------------------------------"
          echo "Checking that the plugin is installed and recognized by csound"
          csound -z1 2>&1 | grep dict_
          risset remove klib
          pip uninstall --yes risset

      - name: macos - test install from pip
        if: runner.os == 'macos'
        run: |
          pip install risset -U
          risset update
          risset list
          risset install else
          echo "-------------------------------"
          echo "Checking that the plugin is installed and recognized by csound"
          csound -z1 2>&1 | grep atstop
          risset remove else
          pip uninstall --yes risset
          
  
